body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}



/* Header */
.navLink {
    position: absolute;
    margin-top: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.navLink:visited {
    color: black;
}

.navLink:hover {
    text-decoration: underline;
    color: red;
}

.logo {
    max-width: 2rem;
    padding: 0.5rem;
}



/* Homepage Layout */
.homeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(120deg, rgba(1,1,1,1) 44%, rgba(176,9,31,1) 96%); */
    background: radial-gradient(at 0% 30%,#841b1b 10rem, black);

}

.leftContainerHome {
    display: grid;
    align-items: center;
}

.leftContainerHomeContentTile {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.rightContainerHome {
    display: grid;
    align-self: center;
}



/* Homepage Styling */
h1 {
    justify-self: center;
    margin-bottom: 0;
    font-size: 4rem;
    color: white;
}

p {
    justify-self: center;
    padding: 1rem;
    text-align: center;
    color: white;
}

.buttonHomeStart {
    justify-self: center;
    align-self: center;
    margin: 1rem;
    width: 10rem;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
}

.buttonHomeStart:hover {
    color: red;
    transition-duration: 0.5s;
}

.buttonHomeAbout {
    justify-self: center;
    align-self: center;
    width: 10rem;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    border: none;
}

.buttonHomeAbout:hover {
    color: red;
    transition-duration: 0.5s;
}